#haunts-container {
    margin: 100px 80px 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 24px;
    grid-row-gap: 35px;
}

.haunt-div:hover {
    cursor: pointer;

}


.haunt-label-div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    letter-spacing: normal;
}

.haunt-name {
    font-weight: bold;
    margin: 0;
}

.haunt-rate {
    margin: 0;
}

.haunt-image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-sizing: content-box;
    border-radius: 12px;
    font-size: 0;
}

.haunt-image-container::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.haunt-image-container img {
    box-sizing: content-box;
    display: block;
    position: absolute;
    height: 100%;
}

.haunt-image:hover {
    box-sizing: content-box;
    animation-name: haunt-image-on-hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes haunt-image-on-hover {
    100% {
        transform: scale(125%) rotate(10deg);
    }
}

.haunt-link {
    text-decoration: none;
    color: black;
}
