#modal {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#modal-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 3;
}

#modal-content {
    background-color: white;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    border-radius: 12px;
    overflow: hidden;
    z-index: 4;
    padding: 10px;
    max-height: 600px;
    overflow-y: auto;
    scrollbar-width: thin;
}

#modal-content::-webkit-scrollbar {
    width: 8px;

}

#modal-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

#modal-content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    /* outline: 1px solid slategrey; */
    border-radius: 10px;
}

#modal-content::-webkit-scrollbar-button {
    height: 15px;
    width: 15px;
}
