#modal {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#modal-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 3;
}

#modal-content {
    background-color: white;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    border-radius: 12px;
    overflow: hidden;
    z-index: 4;
    padding: 10px;
}
