#spookings-page-container {
    padding: 116px 80px 24px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .05ch;
}
#spookings-page-heading {
    padding: 0 0 24px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}
#spookings-page-heading h1 {
    margin: 0;
}

#spookings-nav-buttons-div {
    display: flex;
    justify-content: center;
}

.spooking-nav-button {
    background-color: #6f50a0;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    width: 116px;
    margin: 0 5px;
    font-size: 14px;
}

.spooking-nav-button:hover {
    background-color: #ad76c7;
    cursor: pointer;
}

#no-spookings {
    padding: 32px 0 48px;
    border-bottom: 1px solid lightgray;
}

#no-spookings h2 {
    margin: 0;
    font-size: 22px;
}

#no-spookings-message {
    margin-top: 8px;
}

#no-spookings-button {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1ch;
    margin-top: 16px;
    padding: 13px 23px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
}

#no-spookings-button:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.spooking-container {
    border: 1px solid lightgray;
    border-radius: 15px;
    display: grid;
    margin-top: 24px;
    padding: 12px 24px;
    grid-template-columns: repeat(4, 1fr);
}

.spooking-haunt-image {
    width: 90%;
    height: 184px;
    border-radius: 15px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spooking-city-div {
    margin: 0 0 5px;
    font-size: 16px;
}

.spooking-name-div {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #6f50a0;
}

.spooking-name-div:hover {
    color: #ad76c7;
    cursor: pointer;
}

.spooking-duration-div {
    font-size: 14px;
    margin: 0 0 10px;
}

.spooking-address-div {
    font-size: 14px;
}

.spooking-host-div {
    display: flex;
}

.spooking-host-image {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 16px;
}

.spooking-host-name-div {
    font-weight: bold;
    margin-bottom: 5px;
}

.spooking-host-email {
    font-size: 14px;
}

.spooking-other-info-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.spooking-total-amount-div {
    margin-bottom: 16px;
}

.spooking-dollar-amount {
    font-weight: bold;
}

.spooking-detail-page-button {
        background-color:#6f50a0;
        border: none;
        border-radius: 12px;
        color: white;
        font-family: 'Roboto', sans-serif;
        padding: 10px 14px;
        font-size: 14px;
        width: 100px;
        margin-bottom: 8px;
}

.spooking-detail-page-button:hover {
    background-color:#ad76c7;
    cursor: pointer;
}
.spooking-cancel-button {
        background-color: rgb(255, 7, 11);
        border: none;
        border-radius: 12px;
        color: white;
        font-family: 'Roboto', sans-serif;
        padding: 10px 14px;
        font-size: 14px;
        width: 100px;
}

.spooking-cancel-button:hover {
    background-color: rgb(255, 120, 86);
    cursor: pointer;
}

.spooking-name-link {
    text-decoration: none;
}
