#create-spooking-form {
    width: 370px;
    border: 1px solid lightgray;
    height: 500px;
    border-radius: 12px;
    margin-left: 95px;
    padding: 24px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .10);;
    box-sizing: border-box;
}


#create-spooking-form-heading h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#create-spooking-form-rate {
    display: flex;
    align-items: flex-end;
}

#create-spooking-form-per-night {
    margin: 0 0 2px 5px;
}
