/* TODO Add site wide styles */

html, body, #root, #content-wrapper {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.form-page {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-bottom: 20px;
}

.errors-div {
    background-color: pink;
    color: red;
    margin: 0 0 10px;
    border-radius: 12px;
    width: 300px;
    padding: 5px 20px;
    font-size: 14px;
    /* border: 1px solid red; */
    /* box-shadow: 2px 2px 15px rgba(0, 0, 0, .10); */
}

.errors-ul {
    padding: 0 0 0 20px;
}

.errors-hidden {
    display: none;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 0 24px;
    padding: 20px 20px 10px;
    border-radius: 12px;
    border: 1px solid lightgray;
    background-color: white;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .10);
    /* transform: translate(50%, 50%) */
}

/* .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
} */

.auth-form-field {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}

.auth-form-input {
    width: 100%;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.auth-select {
    border: none;
}

.auth-button-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px 0 0;
}

.auth-button {
    /* margin: 20px 0 0; */
    padding: 8px 20px;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    border: none;
    background-color: #6f50a0;
    color: white;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.auth-button:hover {
    cursor: pointer;
    background-color: #ad76c7;
}

.auth-form-title {
    font-size: 22px;
    margin-bottom: 16px;
    font-weight: bold;
}
