#no-account-signup {
    font-size: 14px;
    margin: 10px 0 16px;
}

#no-account-signup-link {
    text-decoration: none;
    font-weight: bold;
    color:#6f50a0;
}

#no-account-signup-link:hover {
    text-decoration: none;
    font-weight: bold;
    color: #ad76c7;
}
